/*--------------------------------------------general styles*/

:root
{
    --dark: #392320;
    --mid: #7d6064;
    --light: #fff;
    --accent: #fdc6c4;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
    background-color: var(--mid);
}

/*--------------------------------------------header styles*/

header
{
    background-color: var(--dark);
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
}

header div
{
    background-color: var(--accent);
    height: 35px;
    width: 35vw;
    overflow: hidden;
    word-break: break-all;
    text-align: right;
}

header h1
{
   margin: 5px 10px 5px auto;
   font-size: 25px;
   color: var(--dark);
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a
{
    margin: 10px 15px;
    font-size: 14px;
    color: var(--light);
    text-decoration: none;
    border-bottom: 3px solid;
}

/*--------------------------------------------hero styles*/

.hero
{
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    height: 100px;
    position: relative;
}

.hero div
{
    background-color: var(--accent);
    width: 190px;
    height: 30px;
    position: absolute;
    right: 30px;
    bottom: 15px;
    text-align: center;
}

.hero h2
{
    color: var(--dark);
    margin: 4px;
    font-size: 20px;
}


/*--------------------------------------------media queries*/

@media screen and (min-width: 980px)
{
    header div
    {
        width: 342px; /*the width of the box @979 pixels*/
    }
}